$length: 60px;
$backgroundColor: darkgrey;
$boder: 1px rgb(223, 223, 223) solid;
$margin: 8px;
$font-height: 20px;
$font-color: white;
$radius: 5%;
$padding: 10px;

    button:active {
        box-shadow: 0 0px 0px 0 black;
    }

    .active {
        box-shadow: 0 0px 0px 0 black;
    }

    button {
        padding: 0;
        height: $length;
        border: none;
        outline: none;
        margin: $margin;
        font-size: $font-height;
        display: block;
        color: $font-color;
        border-radius: $radius;
    }
